.content {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    text-align: center;
    margin: 30px 5px;
}

.content .top img {
    width: 20%;
    border-radius: 50%;
}